.header {
      background-color: rgb(21, 157, 202);
      .top__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 2em 0 2em;
      .left__header__item {
            width: 100%;
            display: flex;
            .nav__link {
                  display: flex;
                  color: white;
                  font-size: 22px;
                  text-decoration: none;
                  font-weight: 600;
            }
      }
      .middle__header__item {
            .brand__logo {
                  width: 45px;
                  height: 45px;
            }
      }}
}