.navbar {
      background-color: grey;
      .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            .nav__link {
                  text-decoration: none;
                  color: white;
                  font-size: 16px;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .left__nav {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 18px;
                  gap: 20px;
                  .item {
                        list-style-type: none;
                  }

            }
            .right__nav {
                  display: flex;
                  justify-content: center;
                  align-items: center;       
                  font-size: 16px;
                  gap: 5px;
                  .item {
                        list-style-type: none;
                  }
                  .item__signin {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                  }
                  .items__menu {
                        display: none;
                  }
                 }
      }
}

@media screen and (max-width: 430px) {
      .navbar {
            .nav {
                  .right__nav {

                     .item {
                        list-style-type: none;
                  }
                  .items__menu {
                        display: flex;
                  }
                                    
            }
            }
      }
}