.navbar {
      background-color: whitesmoke;
      .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 0 2em 0 2em;
            .nav__left {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 16px;
                  gap:  2em;
                  .item {
                        list-style-type: none;
                        .nav__link {
                              text-decoration: none;
                              color: black;
                        }
                  }
            }
            .btn {
                  background-color: lightblue;
                  padding: 5px;
                  border-radius: 10%;
                  border: none;
                  .btn__link {
                        text-decoration: none;
                        text-align: center;
                        color: black;
                        font-weight: 600;
                        font-size: 20px;
                  }
            }
          }
}