.navbar {
      background-color: whitesmoke;

      .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            .nav__link {
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  font-size: 18px;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .nav__left {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 18px;
                  gap: 20px;
                  .item {
                        list-style-type: none;
                  }
                 }
               .nav__right {
                  display: flex;
                  flex: 1;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  .item__register {
                        flex-direction: column;
                        align-items: center;
                        .item {
                        display: flex; 
                        margin-left: 3em;
                        list-style-type: none;
                        margin-bottom: 5px;
                        gap: 5px;
                        .nav__link { 
                              font-size: 18px;
                              color: gray;
                              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                              text-transform: capitalize;
                              font-weight: 500;
                      }
                      }
                      .create__account { 
                           text-decoration: none;
                           font-size: 16px;
                           color: gray;
                           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                           text-transform: capitalize;
                           font-weight: 500;
                        }
                  }
               }
              .menu_toggle {
                    .menu__icon {
                          display: none;
                    }
              }
      }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
      body {
            background-color: red;
      }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
      .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__left {
                  .item.item__logo {
                        display: block;
                  }
                  .item {
                        display: none;
                  }
            }
            .nav__right{
                   .item__register{
                        display: none;
                   }
            }
            .menu_toggle {
                  display: block;
                  .menu__icon {
                        display: block;
                        color: blue;
                        width: 60px;
                        height: 60px;
                  }
            }
      }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
      body {
            background-color: blue;
      }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
      body {
            background-color: green;
      }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
      body {
            background-color: white;
      }
}